body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}

.border {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    max-width: 400px;
}